- name: Debian unattended-upgrades, update, Docker
  hosts: all
  become: true
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: dist

    - name: Install unattended-upgrades
      ansible.builtin.apt:
        name: unattended-upgrades
        state: present

    - name: Enable unattended-upgrades
      ansible.builtin.command:
        cmd: dpkg-reconfigure -f noninteractive unattended-upgrades
      changed_when: false

    - name: Install Docker
      become: yes
      block:
        - name: Add Docker's official GPG key
          block:
            - name: Install necessary packages
              become: true
              ansible.builtin.apt:
                name:
                  - ca-certificates
                  - curl
                  - gnupg
                state: present
                update_cache: true
            - name: Add GPG key
              ansible.builtin.shell:
                cmd: |
                  set -o pipefail
                  install -m 0755 -d /etc/apt/keyrings
                  curl -fsSL https://download.docker.com/linux/debian/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
                  chmod a+r /etc/apt/keyrings/docker.gpg
              changed_when: false
        - name: Add the repository to Apt sources
          block:
            - name: Add repos
              ansible.builtin.shell:
                cmd: |
                  set -o pipefail
                  echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/debian $(. /etc/os-release && echo $VERSION_CODENAME) stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
              changed_when: false
            - name: Update apt
              ansible.builtin.apt:
                update_cache: true
        - name: Install Docker packages
          become: true
          ansible.builtin.apt:
            name:
              - docker-ce
              - docker-ce-cli
              - containerd.io
              - docker-buildx-plugin
              - docker-compose-plugin
            state: present
            update_cache: true
      when: docker_installed is not defined or docker_installed.failed

    - name: Ensure Docker group exists (like groupadd docker)
      become: true
      ansible.builtin.group:
        name: docker
        state: present

    - name: Add user debian to docker group (like usermod -aG docker debian)
      become: true
      ansible.builtin.user:
        name: debian
        groups: docker
        append: true
