---
- name: Security fail2ban + iptables
  hosts: ovh_vps
  become: true
  tasks:
    - name: Install fail2ban
      ansible.builtin.apt:
        name: fail2ban
        state: present

    - name: Copy custom jail.local for fail2ban
      ansible.builtin.copy:
        src: files/jail.local
        dest: /etc/fail2ban/jail.local
        owner: root
        group: root
        mode: '0644'

    - name: Restart fail2ban
      ansible.builtin.service:
        name: fail2ban
        state: restarted
        enabled: true

    - name: Disable SSH password authentication
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication no'
        state: present
        backup: true

    - name: Restart SSH service
      ansible.builtin.service:
        name: sshd
        state: restarted
